configuration {
    modes: [drun, window, run];

    font: "Fira Code 14";

    drun {
        display-name: "";
    }

    run {
        display-name: "";
    }

    window {
        display-name: "";
    }
}

@theme "nord"
